<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springbootshirodemo.mapper.RoleMapper">
    <resultMap id="RoleMap" type="com.example.springbootshirodemo.pojo.Role">
        <result column="role_id" property="id" />
        <result column="role_name" property="roleName" />
    </resultMap>

    <select id="selectRoles" resultMap="RoleMap" parameterType="java.lang.String">
        SELECT
            t1.*
        FROM
            sys_role as t1 INNER JOIN sys_user_role as t2 on t1.role_id = t2.role_id
        WHERE
            t2.user_id = #{userId}

    </select>
</mapper>